h1{
    font-weight:400;
    text-decoration:wavy red line-through;
}

h2{
    font-weight:normal;
    text-decoration:double blue underline;
}

h3{
    text-decoration: overline;
}

p{
    font-weight:bold;
}

a{
    text-decoration: none;
}