#container{
    width: 400px;
    height: 400px;
    border: 2px solid lightseagreen;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin: 20px auto;
}


#container div{
    width: 100px;
    height: 100px;

    background-color: grey;
    border: 2px solid black;
    border-radius: 10px;

    display:flex;
    justify-content: center;
    align-items:center;
}